<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bolt.expression">

    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fusenewlogo"
        android:label="Fuse"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name="com.example.bolt.expressionFuse.Splashscreen"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.example.bolt.expressionFuse.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bolt.expressionFuse.Camera"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.bolt.expressionFuse.cameraTut" />
        <activity android:name="com.example.bolt.expressionFuse.nameGame"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.game1"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.FuseGame"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.Game4"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.Game2"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.Game1"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.Game3"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.bolt.expressionFuse.LastActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>