<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bolt.expression">

    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Expression"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name="com.example.bolt.expression.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bolt.expression.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.bolt.expression.Camera"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.bolt.expression.cameraTut" />
        <activity android:name="com.example.bolt.expression.nameGame" />
        <activity android:name="com.example.bolt.expression.game1" />
        <activity android:name="com.example.bolt.expression.FuseGame" />
        <activity android:name="com.example.bolt.expression.game2"></activity>
    </application>

</manifest>